.filmCard {
  background-color: #fff;
  padding: 24px;
  border-radius: 8px;
  margin-bottom: 16px;
  width: 100%;
  display: flex;
  flex-flow: row;
  gap: 24px;
}
.filmCard img {
  border-radius: 8px;
}

.cardContent {
  width: 100%;
}

.cardContent h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 8px;
}
.cardContent i {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
