@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('../fonts/SFProText/SFProText-Regular.ttf') format('truetype');
}

:root {}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

body {
  color: #1B1F23;
  background: #F5F5F5;
  padding-top: 84px;
  display: flex;
  flex-direction: column;
}

main {
  padding: 24px 33px 24px 32px;
  flex-grow: 1;
  overflow-y: auto;
}

footer {
  margin-top: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  color: #1B1F23;
  padding: 10px 16px;
  border-radius: 8px;
  border: 1px solid #E1E3E6;
  
  font-family: 'SF Pro Text';
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
input:focus-visible {
  outline: none;
  border: 1px solid #FF5500
}
input::placeholder {
  font-family: 'SF Pro Text';
  color: #999FA6;
}

label {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-top: 16px;
  margin-bottom: 4px;
}
