.appSelect {
  display: flex;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #E1E3E6;
  border-radius: 8px;
  padding: 10px 16px;

  font-family: 'SF Pro Text';
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  justify-content: space-between;
}
.appSelect.expanded {
  border: 1px solid #FF5500
}

.placeholder {
  color: #999FA6;
}

.dropDownContainer {
  position: fixed;
}

.dropDown {
  visibility: hidden;
  display: flex;
  flex-flow: column;
  background: #fff;
  padding: 20px;

  border: 1px solid #FFFFFF;
  box-shadow: 0px 10px 22px -4px rgba(27, 31, 35, 0.12);
  border-radius: 8px;
  opacity: 0;
  transition: opacity ease .5s;
}
.dropDown.expanded {
  visibility: visible;
  opacity: 1;
}

.dropDown li {
  display: flex;
  height: 42px;
  padding: 12px 12px 10px 12px;
}
.dropDown li:hover {
  background: #eee;
}

.dropDownButton {
  display: inline-block;
  background-color: transparent;
  border: none;
  background-image: url("/expander.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  transform: rotate(180deg);
}
.dropDownButton.expanded {
  transform: rotate(0deg);
}

.fallBack {
  position: fixed;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
}