.cart {
  display: flex;
  flex-flow: row;
}

.total {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px;
  gap: 10px;

  width: 28px;
  height: 28px;

  background: #FF5500;
  border-radius: 8px;

  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  margin-right: 8px;
}